<!DOCTYPE html>
<html>
<head>
	<title>CISC 3140 HW 1</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="icon" type="image/png" href="icon.png">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<h1><img src="https://cultofthepartyparrot.com/parrots/hd/moonwalkingparrot.gif" id = "parrot">NASA's Astronomy Picture of the Day<img src="https://cultofthepartyparrot.com/parrots/hd/jediparrot.gif" id = "parrot"></h1>
	<!-- <img src="img.jpg" id = "center"> -->
	<img src="{{ picture }}" id = "center" alt="Where is the picture of the day?">
	<h2>What is the purpose of this website?</h2>
	<p>This website demos the use of <a href="https://palletsprojects.com/p/flask/" title="Flask Framework">Flask(Python Web Framework)</a> and the <a href="https://api.nasa.gov/api.html#apod" title="NASA APOD API">NASA Astronomy Picture of the Day(APOD) API</a></p>
	<p>The picture on this website changes everyday</p>
	<p>This is also my first time using the Flask Framework and an API</p>
	<br>
	<div style="text-align:center">
		<a href="https://github.com/PokeLegoCuber" id = "button" title="My GitHub">My GitHub</a>
	</div>
	
</body>
</html>